

server {
    listen 80;
    # server_name app.seeld.io www.app.seeld.io;
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;

    root /var/www/html;
    index index.html;
    client_max_body_size 200m;

    server_name app.seeld.io;

    ssl_certificate {{ssl_certificate}};
	ssl_certificate_key {{ssl_certificate_key}};

    location / {
        try_files $uri $uri/ =404;
    }

    location /api {
        proxy_pass http://{{hostvars['server']['ansible_host']}}:8080;
        client_max_body_size 200m;
    }

    location /wsapi {
        proxy_pass http://{{hostvars['server']['ansible_host']}}:8080;
        proxy_http_version 1.1;
        proxy_set_header Connection "Upgrade";
        proxy_set_header Host $host;
        proxy_set_header Upgrade $http_upgrade;
        # proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
}
