
server {
	listen 80;

    root /var/www/html;
    index index.html;
    client_max_body_size 200m;

    server_name app.seeld.io www.app.seeld.io;

    location / {
        try_files $uri $uri/ =404;
    }

    location /api {
        proxy_pass http://{{hostvars['server']['ansible_host']}}:8080;
        client_max_body_size 200m;
    }
}
